body{
    background-color:aqua 
}

h2 {
    color:indigo;
}

h3 {
    color:indigo;
}

caption {
    color:red;
    text-decoration: underline;
    font-weight: bold;
}

td {
    background-color: white;
}

ul {
    color:hotpink;
}