body {
    background-color:cadetblue;
}

h3 {
    color: antiquewhite
}

caption {
    color:red;
    text-decoration: underline;
    font-weight: bold;
}

td {
    background-color:floralwhite;
    font-style: italic;
}

ul {
    color:gold;
}

a {
    font-family: 'Fjalla One';
    text-decoration: none;
    font-weight: bolder;
    color: antiquewhite;
}

a:link {
    background-color: antiquewhite;
}

a:visited {
    background-color: orange;
}

a:hover {
    text-decoration: underline;
    background-color:red;
}

a:active {
    font-weight: bold;
}